.topo-header{
	margin-top: 10px !important;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

.you-are-here{
	margin-top: 15px !important;
}

.mt5px{
	margin-top: 5px !important;
}

.mt2px{
	margin-top: 2px !important;
}

.mt20px{
	margin-top: 20px !important;
}

.mr10px{
	margin-right: 10px !important;
}

.mb20px{
	margin-bottom: 20px !important;
}

.agrupa-input{
	width: 100%;
	float: left;
	margin: 0 0 10px 0;
	height: auto;
}